@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background: #f5f5f5;
    color: #6d6d6d;
    margin: 0;
    padding: 0;
    display: block;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

#header {
    width: 100%;
    padding: 5px;
    background-color: rgb(29, 161, 242);
    color: #fff;
}

#header h3 {
    text-align: center;
}

footer {
    width: 100%;
    background-color: rgb(29, 161, 242);
    color: #fff;
    text-align: center;
    padding: 5px;
}

footer p {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

#history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#history-list li {
    background-color: #fff;
    padding: 5px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.item {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    flex-direction: column;
}

.title {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;
    height: 1.2em;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.title a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline;
    color: blue;
}

.event {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.icon-button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #50C878;
    color: white;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    text-decoration: none;
}

.icon-button:hover {
    background-color: #c62828;
}

.icon-button-1:hover {
    background-color: #228B22;
}

.loading-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: #333;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 10px;
}

a i {
    pointer-events: none;
}

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-buttons {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    font-weight: bold;
    font-size: 14px;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

.tab-contents {
    background-color: #9cdbe9;
    height: 450px;
}

.tab-content {
    display: none;
}

.tab-content h2 {
    margin-top: 0;
}

#qty{
    text-align: center;
    font-weight: bold;
    color: #000;
}

.content {
    min-width: 600px;
    padding: 5px 5px 0px 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img{
    padding: 100px;
    height: 150px;
}

.delete-all-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}